Questao01/db/
Questao01/greybox_tmp/
Questao01/incremental_db/
Questao01/output_files/
Questao01/simulation/

Questao02/db/
Questao02/greybox_tmp/
Questao02/incremental_db/
Questao02/output_files/
Questao02/simulation/

Questao03/db/
Questao03/greybox_tmp/
Questao03/incremental_db/
Questao03/output_files/
Questao03/simulation/

Questao04/db/
Questao04/greybox_tmp/
Questao04/incremental_db/
Questao04/output_files/
Questao04/simulation/

Questao05/db/
Questao05/greybox_tmp/
Questao05/incremental_db/
Questao05/output_files/
Questao05/simulation/

Questao06/db/
Questao06/greybox_tmp/
Questao06/incremental_db/
Questao06/output_files/
Questao06/simulation/

Questao07/db/
Questao07/greybox_tmp/
Questao07/incremental_db/
Questao07/output_files/
Questao07/simulation/

Questao08/db/
Questao08/greybox_tmp/
Questao08/incremental_db/
Questao08/output_files/
Questao08/simulation/

Questao09/db/
Questao09/greybox_tmp/
Questao09/incremental_db/
Questao09/output_files/
Questao09/simulation/

Questao10/db/
Questao10/greybox_tmp/
Questao10/incremental_db/
Questao10/output_files/
Questao10/simulation/


